
.ipynb_checkpoints/551-P2-checkpoint.ipynb
.ipynb_checkpoints/COMP551_MiniProject2_IMDB_Sentiment_Analysis-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/BernoulliNB-checkpoint.ipynb
BernoulliNB.ipynb
nb.ipynb
